{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<head>
    <style>
        /* Override the default background image on this page */
        :root {
            --background-image: url("{{ url_for('static', filename='images/about_us.jpg') }}");
        }
    </style>
</head>

	<div class="title">
		<p>About Us</p>
	</div>

    <div class="about-container">
        <div class="about-content about-1">
            <h2>Our mission:</h2>
            <p>Our mission is to empower immigrants with alerts about ICE activity, providing them with critical information to stay safe and make informed decisions.  Our goal is to foster a sense of security, empowerment, and community support in times of uncertainty.</p>
        </div>
        <div class="about-content about-2">
            <h2>Inspiration:</h2>
            <p>This project was born from a deep commitment to protecting vulnerable immigrant communities. We recognize the fear and uncertainty that come with ever-changing immigration enforcement tactics. By providing a reliable way to track ICE activity, we aim to equip individuals and families with the information they need to stay safe and prepared.</p>
        </div>
        <div class="about-content about-2">
            <h2>Features:</h2>
            <p>This website offers real-time tracking and notifications about ICE activity, resources and information about what to do if faced by an ICE officer, and a page where the user can submit a report to help contribute and update the tracker.</p>
        </div>
        <div class="about-content about-1">
            <h2>Who we are:</h2>
            <p>We are first-year students at the University of North Carolina at Chapel-Hill aspiring to create a difference to the local community. This project was created through the hard work and efforts of Caleb Han, Mason Mines, Nikolaos Philippakos, and Yewon Song.</p>
        </div>
    </div>
      
{% endblock %}
