<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Beacon{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block additional_requirements %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('report') }}">Report</a></li>
            <li><a href="{{ url_for('icefreezone') }}">Ice-Free Zones</a></li>
            <li><a href="{{ url_for('resources') }}">Resources</a></li>
            <li><a href="{{ url_for('gov_rep_template') }}">Governmental template</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
