<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}<li><a href="{{ url_for('index') }}">Beacon</a></li>{% endblock %}</title>
    <style>
        :root {
            --background-image: url("{{ url_for('static', filename='images/home_image.jpg') }}"); /* Default image */
        }
        body {
            background-image: var(--background-image);
            background-size: cover;
            background-position: center;
            margin: 0;
            padding: 0;
            height: 100vh; 
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block additional_requirements %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-image">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('map') }} ">Zones</a></li>
            <li><a href="{{ url_for('resources') }}">Resources</a></li>
            <li><a href="{{ url_for('rights') }}">Know Your Rights</a></li>
            <li><a href="{{ url_for('report') }}">Report</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
