{% extends 'base.html' %}

{% block title %}Report Submitted Successfully{% endblock %}

{% block additional_requirements %}
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}

{% block content %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden;  /* Disable scrolling */
        }
    </style>
    <div class="report-container">
        <div id="step-1" class="step report-step">
            <h1>Report Submitted Successfully</h1>
            <br><br>
            <a href="{{ url_for('index') }}">Go to Home</a>
        </div>
    </div>
{% endblock %}
