<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Data</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js"></script>
</head>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('report') }}">Report</a></li>
        <li><a href="{{ url_for('icefreezone') }}">icefreezone</a></li>
        <li><a href="{{ url_for('resources') }}">resources</a></li>
    </ul>
</nav>
<body>
    <h1>Report Data</h1>
    <form action="/submit" method="POST">
        <!-- Report Date Input -->
        <label for="reportdate">Report Date:</label>
        <input type="datetime-local" id="reportdate" name="reportdate" required>
        
        <br><br>

        <!-- Mapbox Location Selection -->
        <label for="location">Select Location:</label>
        <div id="map" style="height: 400px;"></div>
        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
        <input type="hidden" id="location" name="location" required>

        <br><br>

        <!-- Details Input -->
        <label for="details">Details:</label>
        <br><br>
        <textarea name="details" cols="40" rows="5"></textarea>

        <br><br>

        <!-- Submit Button -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>
