{% extends 'base.html' %}

{% block title %}Know Your Rights{% endblock %}

{% block content %}


	<div class="rights-container">
		<div class="rights-content about-1">
			<h2>Know Your Rights</h2>
			<p>It's important to know your rights in case you come across a situation where you encounter an ICE officer. Many people are unaware of the legal protections that are provided to them, and to avoid unlawful deportation and punishment, it's crucial to educate yourself on your rights.</p>
		</div>
		
	</div>
	<div class="rights-container">
		<div class="rights-content about-1">
			<h2>1. Right to stay silent.</h2>
			<p>You do not have to answer any questions about your immigration status or birth place.</p>
		</div>
		<div class="rights-content about-2">
			<h2>2. Right to refuse a search</h2>
			<p>The ICE do not have the right to search you, your home, or your car without a warrant signed by a judge. </p>
		</div>
		<div class="rights-content about-2">
			<h2>3. Right to an attorney and a court hearing</h2>
			<p>You have the right to speak to a lawyer before answering any questions or signing documents. You also have the right to fight your case in court and should not agree to a voluntary deportation without discussing with a lawyer.</p>
		</div>
		<div class="rights-content about-1">
			<h2>4. Right to refuse to show documents</h2>
			<p>If you do not have your documents on you, you have the right to refuse show documents. Do NOT provide fake documents or lie. This can be used against you.</p>
		</div>
	</div>
{% endblock %}
